


 body{
    margin:0;
    padding: 0;
}


   li a{
    color:	#FFFFFF;
}

.navbar-toggler{

    color:#000000;

}

.navbar-brand a{
    color:	#FFFFFF;
}



.navbar{
    background-color: #ff3399;


}


.card{
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 1px 8px 3px black;
}


.imgj{
    background-image: url(po.jpg);
    width:100%;
    height:70vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  